*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.page{
    position: fixed;
    top:0;
    left:-100vw;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display:grid;
    place-items:center;
    transition: 0.6s all ease-in-out;
}

.visible{
    left:0;
    transition: 0.6s all ease-in-out;
}

.box{
    width:80%;
    height: 80%;
    display:grid;
    place-items:center;
    border: 1px solid white;
}

#imagebox{
    background-image: url(./assets/avatars-HCMqtND4BWnc4lr7-9kMrpA-t500x500.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

.halfbox{
    grid-template-columns: 1fr 1fr;
}

#rightimage{
    background-image: url(./assets/38C5D1FA-1B1B-4924-AC22-4B85EE6FBD56.jpeg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

#page1{
    background-color: rgb(3,111,128);
}

#page2{
    background-color: rgb(200,111,128);
}

#page3{
    background-color: rgb(200,111,128);
    grid-template-columns: 4fr 2fr 1fr;
}

#page3 div{
    width: 100%;
    height: 100%;
}

h1{
    font-family: Radio Canada Big;
    color: rgb(79, 1, 99);
}